.counter {
    width: 1000px;
    height: fit-content;
    text-align: center;
    font-size: 68px;
    font-weight: lighter;
}

.container-counter {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bttn {
    width: 45px;
}

#toast {
    visibility: hidden;
    min-width: 300px;
    background: gray;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
}

.conteiner-toast {
    display: flex;
    justify-content: center;
    align-items: center;
}

#toast.show {
    visibility: visible;
}